DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_POOL_MAX_SIZE=
DB_POOL_MIN_IDLE=
DB_POOL_CONNECTION_TIMEOUT_MS=
PORT=

JWT_SECRET=
JWT_ACCESS_TOKEN_TTL_MINUTES=
JWT_REFRESH_TOKEN_TTL_DAYS=


# ===== Mail SMTP =====
APP_MAIL_ENABLED=
APP_MAIL_FROM=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=
MAIL_SMTP_STARTTLS_ENABLE=

# ===== Mail Queue Redis =====
APP_MAIL_QUEUE_ENABLED=
APP_MAIL_QUEUE_STREAM=
APP_MAIL_QUEUE_CONSUMER_GROUP=
APP_MAIL_QUEUE_CONSUMER_NAME=
APP_MAIL_QUEUE_MAX_RETRIES=
APP_MAIL_QUEUE_POLL_INTERVAL_MS=


APP_QR_ISSUER=
APP_QR_TTL_MINUTES=
APP_QR_IMAGE_SIZE=


# ===== ZaloPay Payment Gateway =====

APP_PAYMENT_PENDING_EXPIRATION_MINUTES=
APP_PAYMENT_ZALOPAY_APP_ID=
APP_PAYMENT_ZALOPAY_KEY1=
APP_PAYMENT_ZALOPAY_KEY2=
APP_PAYMENT_ZALOPAY_ENDPOINT=
APP_PAYMENT_ZALOPAY_CONNECT_TIMEOUT_MS=
APP_PAYMENT_ZALOPAY_READ_TIMEOUT_MS=
APP_PAYMENT_ZALOPAY_CALLBACK_URL=
APP_PAYMENT_ZALOPAY_FRONTEND_RETURN_URL=
APP_PAYMENT_ZALOPAY_ENABLED=
APP_PAYMENT_ZALOPAY_SANDBOX_MODE=
APP_PAYMENT_EXPIRATION_CHECK_DELAY_MS=

APP_PAYMENT_CIRCUIT_BREAKER_ENABLED=
APP_PAYMENT_CIRCUIT_BREAKER_FAILURE_THRESHOLD=
APP_PAYMENT_CIRCUIT_BREAKER_OPEN_DURATION_SECONDS=
APP_PAYMENT_CIRCUIT_BREAKER_HALF_OPEN_MAX_CALLS=
APP_PAYMENT_CIRCUIT_BREAKER_SLOW_CALL_THRESHOLD_MS=


# ===== CSV Import =====
APP_CSV_IMPORT_ENABLED=
APP_CSV_IMPORT_INPUT_DIRECTORY=
APP_CSV_IMPORT_FILE_PATTERN=
APP_CSV_IMPORT_CRON=
APP_CSV_IMPORT_TIMEZONE=
APP_CSV_IMPORT_ENCODING=
APP_CSV_IMPORT_DELIMITER=
APP_CSV_IMPORT_BATCH_SIZE=




APP_AI_SUMMARY_ENABLED=
APP_AI_SUMMARY_PROVIDER=
APP_AI_SUMMARY_WORKER_ENABLED=
APP_AI_SUMMARY_POLL_INTERVAL_MS=
APP_AI_SUMMARY_MAX_FILE_SIZE_MB=
APP_AI_SUMMARY_MAX_INPUT_CHARS=
APP_AI_SUMMARY_TIMEOUT_SECONDS=
APP_AI_SUMMARY_STORAGE_TYPE=
APP_AI_SUMMARY_STORAGE_BUCKET=
APP_AI_SUMMARY_STORAGE_ENDPOINT=
APP_AI_SUMMARY_STORAGE_REGION=
APP_AI_SUMMARY_STORAGE_ACCESS_KEY=
APP_AI_SUMMARY_STORAGE_SECRET_KEY=
APP_AI_SUMMARY_STORAGE_LOCAL_DIRECTORY=
APP_AI_SUMMARY_WORKER_MAX_RETRIES=
APP_AI_SUMMARY_WORKER_RETRY_INITIAL_DELAY_MS=
APP_AI_SUMMARY_WORKER_RETRY_MULTIPLIER=
APP_AI_SUMMARY_WORKER_PROCESSING_TIMEOUT_MS=
APP_AI_SUMMARY_GEMINI_API_KEY=
APP_AI_SUMMARY_GEMINI_BASE_URL=
APP_AI_SUMMARY_GEMINI_MODEL=



APP_RATE_LIMIT_ENABLED=
APP_RATE_LIMIT_ALGORITHM=
APP_RATE_LIMIT_TRUST_FORWARDED_FOR=

APP_RATE_LIMIT_DEFAULT_IP_LIMIT=
APP_RATE_LIMIT_DEFAULT_IP_REFILL_TOKENS=
APP_RATE_LIMIT_DEFAULT_IP_REFILL_PERIOD_SECONDS=

APP_RATE_LIMIT_LOGIN_CAPACITY=
APP_RATE_LIMIT_LOGIN_REFILL_TOKENS=
APP_RATE_LIMIT_LOGIN_REFILL_PERIOD_SECONDS=

APP_RATE_LIMIT_AUTH_REFRESH_CAPACITY=
APP_RATE_LIMIT_AUTH_REFRESH_REFILL_TOKENS=
APP_RATE_LIMIT_AUTH_REFRESH_REFILL_PERIOD_SECONDS=

APP_RATE_LIMIT_REGISTRATION_CAPACITY=
APP_RATE_LIMIT_REGISTRATION_REFILL_TOKENS=
APP_RATE_LIMIT_REGISTRATION_REFILL_PERIOD_SECONDS=

APP_RATE_LIMIT_PAYMENT_CAPACITY=
APP_RATE_LIMIT_PAYMENT_REFILL_TOKENS=
APP_RATE_LIMIT_PAYMENT_REFILL_PERIOD_SECONDS=

APP_RATE_LIMIT_CHECKIN_SYNC_CAPACITY=
APP_RATE_LIMIT_CHECKIN_SYNC_REFILL_TOKENS=
APP_RATE_LIMIT_CHECKIN_SYNC_REFILL_PERIOD_SECONDS=
