DB_URL=jdbc:postgresql://aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
DB_USERNAME=your-username
DB_PASSWORD=your-password
JWT_SECRET=replace-with-at-least-32-characters-secret
JWT_ACCESS_TOKEN_TTL_MINUTES=15
JWT_REFRESH_TOKEN_TTL_DAYS=7
